<div class="fixed-bottom bg-white row d-flex justify-content-center text-center border-top p-4">
    <div class="col-3">
        <mat-icon (click)="router.navigateByUrl('/user')" [class]="router.url === '/user' ? 'activate' : 'deactivate' ">
            home</mat-icon>
    </div>
    <div class="col-3">
        <mat-icon (click)="router.navigateByUrl('/user/subscriptions')"
            [class]="router.url === '/user/subscriptions' ? 'activate' : 'deactivate' ">
            event_note</mat-icon>
    </div>
    <div class="col-3">
        <mat-icon (click)="router.navigateByUrl('/user/orders')"
            [class]="router.url === '/user/orders' ? 'activate' : 'deactivate' ">
            shopping_cart</mat-icon>
    </div>
    <div class="col-3">
        <mat-icon [class]="router.url === '/user/profile' ? 'activate' : 'deactivate' "
            (click)="router.navigateByUrl('/user/profile')">account_circle</mat-icon>
    </div>
</div>