<div class="p-3 text-center">
    <div class="d-flex justify-content-between mb-2">
        <span class="col-lg-11 col-sm-10 col-md-11 col-xs-10"> {{title}} Address</span>
        <span class="cursor col-lg-1 col-sm-2 col-md-2 col-xs-2 " (click)="dialogClose()">X</span>
    </div>
    <form action="">
        <div class="row justify-content-center">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Enter Name</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Enter Mobile</mat-label>
                <input type="tel" matInput>
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Enter Address</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Enter Pincode</mat-label>
                <input type="text" max="6" min="6" matInput>
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Enter City</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>

        <button class="btn bt-primary" *ngIf="isEdit">Edit</button>
        <button class="btn bt-primary" *ngIf="!isEdit">Add</button>
    </form>
</div>
<!-- Name, mobile, pincode, address, city,  -->