<div class="container-fluid">
    <div class="outer-container d-flex justify-content-center">
        <div class="inner-container m-auto">
            <div class="row no-gutters h-100 m-0">
                <div class="img-container col-md-7 col-sm-6 justify-content-center align-items-center d-none d-sm-flex">

                </div>
                <div class="col-md-5 col-sm-6 col-xs-12 justify-content-evenly d-flex flex-column p-4">
                    <div class="d-flex justify-content-center flex-column">
                        <span class="product-title">{{i18n('login.p-title')}}</span>
                        <span class="product-subtext"></span>
                    </div>
                    <ng-section>
                        <div class="p-2">
                            <h1 class="title-header">
                                {{i18n('signup')}}
                            </h1>
                        </div>
                        <div>

                            <div>
                                <form id="login-frm" [formGroup]="authForm">
                                    <div class="form" id="btn">
                                        <ng-container *ngIf="showForm === 0">

                                            <div>
                                                <mat-form-field class="tl-1 w-100" appearance="outline"
                                                    floatlabel="always">
                                                    <mat-label>{{i18n('signup.name')}}</mat-label>
                                                    <input matInput [placeholder]="i18n('signup.namePlaceholder')"
                                                        formControlName="name" />
                                                </mat-form-field>
                                            </div>


                                            <div>
                                                <mat-form-field class="tl-1 w-100" appearance="outline"
                                                    floatlabel="always">
                                                    <mat-label>{{i18n('signup.mail')}}</mat-label>
                                                    <input matInput email [placeholder]="i18n('signup.mailPlaceholder')"
                                                        formControlName="email" />
                                                </mat-form-field>
                                            </div>

                                            <div>
                                                <mat-form-field class="tl-1 w-100" appearance="outline"
                                                    floatlabel="always">
                                                    <mat-label>{{i18n('signup.mob')}}</mat-label>
                                                    <input type="tel" matInput maxlength="10"
                                                        [placeholder]="i18n('signup.mobPlaceholder')"
                                                        formControlName="mobile" />
                                                </mat-form-field>
                                            </div>

                                        </ng-container>

                                        <ng-container *ngIf="showForm === 1">

                                            <div>
                                                <mat-form-field class="my-1 tl-1 w-100" appearance="outline"
                                                    floatlabel="always">
                                                    <mat-label>{{i18n('signup.pass')}}</mat-label>
                                                    <input matInput [type]="hide ? 'password': 'text'"
                                                        [placeholder]="i18n('signup.passPlaceholder')"
                                                        formControlName="password">

                                                    <button type="button" mat-icon-button matSuffix
                                                        (click)="hide = !hide"
                                                        style="vertical-align: super; top: 0.1em;"
                                                        [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="hide">
                                                        <mat-icon>{{hide?'visibility_off' : 'visibility'}}
                                                        </mat-icon>
                                                    </button>
                                                </mat-form-field>


                                            </div>

                                            <div>
                                                <mat-form-field class="my-1 tl-1 w-100" appearance="outline"
                                                    floatlabel="always">
                                                    <mat-label> {{i18n('signup.conf')}}</mat-label>
                                                    <input matInput [type]="confHide? 'password': 'text'"
                                                        [placeholder]="i18n('signup.confPlaceholder')"
                                                        formControlName="confirm">

                                                    <button type="button" mat-icon-button matSuffix
                                                        (click)="confHide = !confHide"
                                                        style="vertical-align: super; top: 0.1em;"
                                                        [attr.aria-label]="'Hide Password'"
                                                        [attr.aria-pressed]="confHide">
                                                        <mat-icon>{{confHide?'visibility_off' : 'visibility'}}
                                                        </mat-icon>
                                                    </button>

                                                </mat-form-field>

                                            </div>

                                        </ng-container>

                                        <ng-container *ngIf="showForm === 2">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Location</mat-label>
                                                <textarea matInput formControlName="location"></textarea>
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>City</mat-label>
                                                <input type="text" matInput formControlName="city">
                                            </mat-form-field>
                                        </ng-container>
                                    </div>

                                    <!-- NOTE: Put media query for button responsiveness -->
                                    <div class="d-flex justify-content-evenly my-2">

                                        <mat-icon (click)="prev()" color="primary"
                                            [class]="showForm === 0 ? 'disable' : 'enable'">
                                            arrow_back_ios
                                        </mat-icon>
                                        <mat-icon [class]="showForm === 2 ? 'disable' : 'enable'" (click)="next()"
                                            color="primary">
                                            arrow_forward_ios
                                        </mat-icon>
                                    </div>

                                    <div class="row justify-content-center">

                                        <div class="col-lg-4 col-md-4 col-sm-4 my-1">
                                            <button mat-raised-button class="button-color"
                                                [class]="authForm.invalid ? 'invalid-btn' : ''"
                                                [disabled]="authForm.invalid" (click)="signup()" color="primary">
                                                {{i18n('signup')}}
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row text-center mt-4">
                                        <a routerLink="">{{i18n('signup.login')}}</a>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </ng-section>
                </div>
            </div>
        </div>
    </div>
</div>