<div class="h-100 pb-5 bg-blue">
    <div class="pb-20">
        <div class="p-1 d-flex justify-content-between px-2">
            <span class="col-1">
                <mat-icon (click)="previous()">arrow_back_ios</mat-icon>
            </span>
            <span class="col-11">
                <span class="h3">Review Cart</span>
            </span>
        </div>
        <div class="card p-3 m-2">
            <h3>Delivery</h3>
            <span style="margin-top: -5%" class="text-muted">within 30 minutes</span>

            <div class="container left">
                <h3>Deliver From</h3>
                <div class="card p-2">
                    <h5>{{messAddress?.name}}, {{messAddress?.mobile}}</h5>
                    <h5>{{messAddress?.location}}, {{messAddress?.city}}</h5>
                </div>
            </div>
            <div class="container right">
                <h3>Deliver To</h3>
                <div class="card p-2">
                    <h5>{{deliveryAddress?.name}}, {{deliveryAddress?.mobile}}</h5>
                    <h5>{{deliveryAddress?.address}}, {{deliveryAddress?.city}}</h5>
                </div>
            </div>
        </div>
        <div class="card p-1 m-2">
            <div class="block-container p-2">
                <div class="d-flex">
                    <div class="col-9 text-start">
                        Subtotal
                    </div>
                    <div class="col-3 text-end">
                        ₹ {{total()}}
                    </div>
                </div>
                <div class="d-flex">
                    <div class="col-9 text-start">
                        Delivery charges
                    </div>
                    <div class="col-3 text-end">
                        ₹ 0
                    </div>
                </div>

                <hr>

                <div class="d-flex">
                    <div class="col-9 text-start">
                        Grand Total
                    </div>
                    <div class="col-3 text-end">
                        ₹ {{total() + 0}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-2 mb-20 p-3">
            <label for="" class="h6">Select Payment Mode</label>
            <mat-radio-group class="example-radio-group" [(ngModel)]="paymentMode">
                <mat-radio-button class="example-radio-button" *ngFor="let payment of paymentModes"
                    [value]="payment.key">
                    {{payment.label}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="fixed-bottom bg-white">
        <div class="text-center my-1">
            <button class="btn btn-primary" (click)="proceed()" [disabled]="paymentMode === ''">Proceed</button>
        </div>
        <app-bottom-nav></app-bottom-nav>
    </div>
</div>