<div class="card w-100 h-15 p-3 my-1" *ngFor="let dish of subscriptionList" (click)="selectSubscription(dish)">
    <div class="row d-flex">
        <div class="col-8">
            <span class="d-flex h5">
                {{dish.dayname}}
            </span>
            <span class="d-flex justify-content-start">
                <span class="col-8">
                    {{dish.description}}
                </span>
            </span>
            <span class="d-flex justify-content-start my-1">
                <span class="col-4">
                    ₹ {{dish.rate}}
                </span>
            </span>
        </div>
    </div>
</div>