<div class="p-1">
    <div class="box">

    </div>
    <div class="card w-100 h-15 p-3 my-1" *ngFor="let mess of messData" (click)="viewDishes(mess)">
        <span class="d-flex h5">
            <span class="col-11">
                {{mess.name}}
            </span>
            <span class="col-1">
                <mat-icon (click)="call(mess)">call</mat-icon>
            </span>
        </span>
        <span class="d-flex">
            {{mess.location}}, {{mess.city}}
        </span>
    </div>
    <div class="fixed-bottom">
        <app-bottom-nav></app-bottom-nav>
    </div>
</div>