<div class="p-1">
    <div class="box p-3">
        <span class="row h4">
            {{mess.name}}
        </span>
        <span class="row d-flex h6">
            {{mess.location}}
        </span>
    </div>

    <div class="mb-30">
        <mat-tab-group dynamicHeight mat-stretch-tabs="start" (focusChange)="focusChanges($event)">
            <mat-tab label="Dish Items" class="d-flex">
                <ng-container>
                    <div class="card w-100 h-fix-content p-3 my-1" *ngFor="let dish of dishData">
                        <div class="row d-flex">
                            <div class="col-8">
                                <span class="d-flex h5">
                                    {{dish.dayname}}
                                </span>
                                <span class="d-flex justify-content-start">
                                    <span class="col-8">
                                        {{dish.description}}
                                    </span>
                                </span>
                                <span class="d-flex justify-content-start my-1">
                                    <span class="col-4">
                                        ₹ {{dish.rate}}
                                    </span>
                                </span>
                            </div>
                            <div class="col-4 vertical-align-center">
                                <span class="d-flex text-center p-2 button-grp">
                                    <span class="col-3 d-flex">
                                        <mat-icon style="font-size: 1.3rem" (click)="removeItem(dish)"
                                            *ngIf="itemAvailableInCart(dish)">
                                            remove</mat-icon>
                                    </span>
                                    <span class="col-6" style="font-size: 1rem" *ngIf="!itemAvailableInCart(dish)"
                                        (click)="addItem(dish)">Add</span>
                                    <span class="col-6" style="font-size: 1rem"
                                        *ngIf="itemAvailableInCart(dish)">{{dish.qty}}</span>
                                    <span class="col-3 d-flex">
                                        <mat-icon style="font-size: 1.3rem" (click)="addItem(dish)"
                                            *ngIf="itemAvailableInCart(dish)">
                                            add</mat-icon>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </mat-tab>
            <mat-tab label="Subscriptions">
                <div class="card w-100 h-fix-content p-3 my-1" *ngFor="let dish of subscriptionList"
                    (click)="selectSubscription(dish)">
                    <div class="row d-flex">
                        <div class="col-8">
                            <span class="d-flex h5">
                                {{dish.dayname}}
                            </span>
                            <span class="d-flex justify-content-start">
                                <span class="col-8">
                                    {{dish.description}}
                                </span>
                            </span>
                            <span class="d-flex justify-content-start my-1">
                                <span class="col-4">
                                    ₹ {{dish.rate}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="fixed-bottom bg-white">
        <span class="h5 d-flex p-2 justify-content-between text-center" (click)="openBottomSheet()"
            *ngIf="cart.length >= 1 && currentTab === 0">
            <span class="col-6" *ngIf="!isBottomSheetOpened">
                {{totalItemsCount()}} {{i18n('checkout.itemAdded')}}
            </span>
        </span>
        <span class="h5 d-flex p-2 justify-content-between text-center" (click)="openSubscriptionBottomSheet()"
            *ngIf="selectedSubs._id !== '' && currentTab === 1">
            <span class="col-12" *ngIf="!isBottomSheetOpened">
                {{i18n('dishes.subscriptionAdded')}}
            </span>
        </span>
        <app-bottom-nav *ngIf="!isBottomSheetOpened"></app-bottom-nav>
    </div>
</div>